.quick-stats {
  margin-top: 20px;
}

.mini-charts-item, .pullout-stat {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 30px;
}

.mini-charts-item {
  min-height: 120px;
}

.bgm-teal {
  background-color: #444444 !important;
}

.bgm-orange {
  background-color: #DA2F35 !important;
}

.bgm-lightgreen {
  background-color: #444444 !important;
}

.mini-charts-item .count {
  overflow: hidden;
  color: rgba(255, 255, 255, 1);
  padding: 16px 12px;
}

.mini-charts-item .count > h2, .mini-charts-item .count > small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mini-charts-item .count > small {
  margin-bottom: 2px;
  display: block;
}

.mini-charts-item .chart {
  padding: 15px;
  float: left;
}

.mini-charts-item .chart-number {
  display: block;
  font-size: 3em;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
}

/*
.c3 line, .c3 path {
  stroke: #d9d9d9;
}

.c3 .tick text {
    fill: #666666;
}*/
